<% if flash.any? %>
  <section id="flash" data-role="feedback">
    <% user_facing_flashes.each do |key, value| -%>
      <div class="flash-<%= key %>"><%= value %></div>
    <% end -%>
  </section>
<% end %>
