<header>
  <section class="application-title">
    <h1><%= link_to t("application.title"), root_path %></h1>
    <p><%= t("application.explainer") %></p>
  <section>

  <section id="account-actions">
    <%= render "account_actions" -%>
  </section>
</header>
