<h2>Welcome to Feeder</h2>

<p>Feeder is a service that allows you to quickly process RSS feeds for posting to
a link and notes blog.</p>

<p>RSS feeds are organized into publications. New entries for your feeds are
automatically collected to the system. You can then add notes and organize them
into editions. Editions can be published as Markdown or HTML and exported to the
publishing system of your choice.</p>

<p>Feeder is open to beta users at a discounted rate of $9 per month.</p>
