/* Colors */
$color_text:          #000;
$color_border:        #000;
$color_hede_hover:    #888;
$color_link:          #229;
$color_link_active:   #222;
$color_header_background:  #0463B0; /* #6C03B9; */
$color_footer_background:  #7E7E7E;
$color_code:          #eee;


/* Margins */
$margin_zero:               0px auto 0px auto;
